@{
    ViewBag.Title = "upload view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{



    <h3>Import data from multiple sheet! </h3>
    <hr>

    <div class="form-group">
        <input type="file" name="UploadedFile" placeholder="Import Excel file here !" class="form-control" />
    </div>
    <input type="submit" name="Submit" value="Submit" class="btn btn-success" />

}
