
@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @*<table>
            <tr>
                <td>File:</td>
                <td>
                    <input type="file" name="UploadedFile" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="Submit" value="Submit" />
                </td>
            </tr>
        </table>*@

    <h3>Import data from multiple sheet! </h3>
    <hr>
 
    <div class="form-group">
        <input type="file" name="UploadedFile" placeholder="Import Excel file here !"  class="form-control"/>
    </div>
    <input type="submit" name="Submit" value="Submit" class="btn btn-success" />

}
